<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <!-- <ion-header-bar class="bar-stable">
      <h1 class="title">Mercalinks</h1>
    </ion-header-bar> -->
    <ion-content>
      <div class="menu_user_header" >
        <div ng-show="is_user_logged()">
          <h3>{{user_data.utente.nome}} {{user_data.utente.cognome}}</h3>
          <p>{{user_data.utente.email}}</p>
        </div>
      </div>
      <ion-list>
        <ion-item menu-close href="#/app/home/home">
          Home
        </ion-item>

        <select class="">
          <option class="sub-items" href="#/app/categoria/{{item.id_categoria}}">
            Categorie
          </option>
          <option class="sub-items" ng-repeat="item in categorie" href="#/app/categoria/{{item.id_categoria}}">
            {{item.nome}}
          </option>
        </select>

        <br>
        <select class="">
          <option class="sub-items" disabled selected>
            Prezzo
          </option>
          <option class="sub-items" href="#/app/categoria/{{item.id_categoria}}">
            Crescente
          </option>
          <option class="sub-items" href="#/app/categoria/{{item.id_categoria}}">
            Decrescente
          </option>
        </select>

        <br>
        <select class="">
          <option class="sub-items" href="#/app/categoria/{{item.id_categoria}}">
            Luogo
          </option>
          <option class="sub-items" href="#/app/categoria/{{item.id_categoria}}">
            Regione
          </option>
          <option class="sub-items" href="#/app/categoria/{{item.id_categoria}}">
            Provincia
          </option>
          <option class="sub-items" href="#/app/categoria/{{item.id_categoria}}">
            Comune
          </option>
        </select>
        
        <ion-item menu-close href="#/app/preferiti" ng-show="is_user_logged()">
          Preferiti
        </ion-item>
        <ion-item menu-close href="#/app/inserisciAnnuncio" ng-show="is_user_logged()">
          Inserisci Annuncio
        </ion-item>

        <ion-item menu-close href="#/app/annunciUtente" ng-show="is_user_logged()">
          Annunci Utente
        </ion-item>

        <button id="login" ng-hide="is_user_logged()" style="margin-top:100%" class="log" style="" menu-close onClick="window.location.href='#/app/login'">
          Login
        </button>
        <button id="logout" ng-show="is_user_logged()" class="log" menu-close ng-click="logout()">
          Logout
        </button>

        </div>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
