<ion-view view-title="Annuncio">
  <ion-content>
    <img src="http://mercalinks.altervista.org/img_annunci/{{annuncio.immagine}}" alt="" class="annuncio_immagine">
    <table>
      <tr>
        <th class="annuncio_titolo">
          {{annuncio.titolo}}
        </th>
        <th class="annuncio_prezzo">
          €{{annuncio.prezzo}}
        </th>
      </tr>
    </table>
    <!--linea grigia per Rocca-->
    <hr>
    <div>
      <p class="annuncio_descrizione">{{annuncio.descrizione}}</p>
      <p class="annuncio_utente"><span class="annuncio_inserito_da">Inserito da</span>
        <br>{{utente.nome}} {{utente.cognome}}</p>
    </div>
    <div>
    <center><button ng-click="contatta()" class="annuncio_contatta">Contatta</button></center>
    </div>
  </ion-content>
</ion-view>
