<ion-view view-title="Annuncio">
  <ion-content>
    <div class="annuncio_image_container">
      <img src="http://mercalinks.altervista.org/img_annunci/{{annuncio.immagine}}" alt="" class="annuncio_immagine">
    </div>

    <p class="annuncio_titolo">
      {{annuncio.titolo}}
    </p>
    <p class="annuncio_prezzo">
      €{{annuncio.prezzo}}
    </p>
    <!-- <table>
      <tr>
        <th class="annuncio_titolo">
          {{annuncio.titolo}}
        </th>
        <th class="annuncio_prezzo">
          €{{annuncio.prezzo}}
        </th>
      </tr>
    </table> -->
    <!--linea grigia per Rocca-->
    <hr>

    <div>
      <p class="annuncio_descrizione">{{annuncio.descrizione}}</p>
      <!--<p>Luogo: </P> -->
      <p class="annuncio_utente"><span class="annuncio_inserito_da">Inserito da</span>
        <br>{{utente.nome}} {{utente.cognome}}
        <br>
        <span class="annuncio_inserito_da">Presso <br></span>{{comune.nome}}
      </p>
    </div>
    <div>
    <center class="marginBottom"><button ng-click="contatta()" class="annuncio_contatta">Contatta</button></center>
  </div>
  </ion-content>
</ion-view>
