<ion-view class="contatta annunci">
  <ion-header-bar class="bar-positive">
     <h1 class="title">{{title}}</h1>
  </ion-header-bar>
  <ion-content>
  <ion-item ng-href=tel:{{utente.num_tel}} class="contattaButton">
    <img src="/templates/annuncio/phone.PNG">
    {{utente.num_tel}}
  </ion-item>
  <ion-item ng-click="mailUser()" class="contattaButton">
    <img src="/templates/annuncio/mail.PNG">
    {{utente.email}}
  </ion-item>
  </ion-content>
  <ion-footer-bar class="footerColor">
    <input  type="button"  value="{{buttons[0].text}}" ng-click="close()" class="contattaCancel">
  </ion-footer-bar>
</ion-view>
