.annuncio_titolo{
  width: 100%;
  font-size: 2.5em;
  text-align: left;
}
.annuncio_prezzo{
  text-align: right;
  color: #890000;
  width: 100%;
  font-size: 2.5em;
}
.annuncio_descrizione{
  font-size: 1.3em;
}
.annuncio_utente{
  font-size: 1.3em;
  font-weight: bold;
  text-align: right;
}
.annuncio_inserito_da{
  font-size: 0.8em
}
.annuncio_contatta{
  border: 9px solid #890000;
  color: #FFFFFF;
  background-color: #890000;
  font-size: 2em;
  border-radius: 20px;
}

.annuncio_immagine {
  width: 100%;
}

.contatta{
  width: auto;
  height: 300px;
}

.contattaButton{
  text-align: center;
  vertical-align: middle;
  /*position: center;*/
  height: 80px;
}

.contattaCancel{
  border: 0px solid #890000;
  color: #FFFFFF;
  background-color: #890000;
  font-size: 1.3em;
}

.footerColor{
  background-color: #890000;
  width: auto;
  height: 50px;
}
