.annuncio_titolo{
  width: 100%;
  font-size: 2.5em;
  text-align: left;
  line-height: normal;
  margin-left: 5px;
  margin-right: 5px;
  padding-bottom: 15px;
  color: #0099cc;
  padding-left: 2%;
}
.annuncio_prezzo{
  text-align: right;
  color: #890000;
  /*width: 100%;*/
  font-size: 2.5em;
  padding-right: 10px;
}
.annuncio_descrizione{
  font-size: 1.3em;
  margin-left: 10px;
  margin-right: 10px;
  color: grey;
}

.annuncio_data_in{
  font-size: 1em;
  text-align: left;
  padding-left: 2%;
}
.annuncio_utente{
  font-size: 1.3em;
  font-weight: bold;
  text-align: right;
  margin-right: 10px;
  color: #0099cc;
}
.annuncio_inserito_da{
  font-size: 0.8em;
  color: #000000;
}
.annuncio_contatta{
  border: 8px solid #890000;
  color: #FFFFFF;
  background-color: #890000;
  font-size: 1.8em;
  border-radius: 20px;
  margin-bottom: 20px;
  margin-top: 5%;
}

.annuncio_immagine {
  max-width: 100% !important;
  height: 300px !important;
  margin-top: 16px !important;
  object-fit: cover;
}

.annuncio_image_container {
  width: 100%;
  text-align: center;
}

.contatta{
  width: auto;
  height: 300px;
}

.contattaButton{
  text-align: center;
  vertical-align: middle;
  /*position: center;*/
  height: 80px;
  border-color: none;
  font-size: 1.4em;
  color: black;
}

.call{
  color: black;
  text-decoration-line: none;
}

.contattaCancel{
  border: 0px solid #890000;
  color: #FFFFFF;
  background-color: #890000;
  font-size: 1.3em;
}

.footerColor{
  background-color: #890000;
  width: auto;
  height: 50px;
}

.marginTop{
  margin-top: 14px !important;
}

.marginBottom{
  margin-bottom: 14px;
}

.paddingBottomMail{
  padding-bottom: 0px;
}

/*.marginBottom2{
  margin-bottom: -50px;
}*/

p{
  margin-left: 8px;
  margin-right: 8px;
}

.annuncio_add_pref {
  -webkit-animation: spin 2s cubic-bezier(0, 0.74, 0.57, 1.12);
}

@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
