<ion-view view-title="Home">
  <ion-content>
    <ion-list>
      <ion-item class="ann" ng-repeat="annuncio in annunci" href="#/app/annuncio/{{annuncio.id_annuncio}}">
        <table>
          <tr class="ann">
            <td class="centra" rowspan="2">
              <img src="http://mercalinks.altervista.org/img_annunci/{{annuncio.immagine}}" height="50" width="50" alt="" >
            </td>
            <td>
              <h2 class="blueDetail">{{annuncio.titolo}}</h2>
            </td>
          </tr>
          <tr>
            <td>
              <span class="redDetail item">€ {{annuncio.prezzo}}</span>
            </td>
          </tr>
        </table>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
