span.itemHome{
  text-align: right;
  padding: 0px;
  margin: 0px;
  background-color: transparent;
}

h2.itemHome{
  font-size: 120%;
  padding: 0px;
  padding-bottom: 2px;
  border: 0px;
  margin : 0px;

  background-color: transparent;
}

table.home_width_fit {
  width: 100%;
}
