<ion-view view-title="Login">
  <ion-content class="annunci">
    <form ng-submit="doLogin()">
      <div class="list">
        <label class="item item-input">
          <!-- <span class="input-label">E-mail</span> -->
          <input type="text" ng-model="loginData.email" placeholder="E-mail" class="login_input">
        </label>
        <label class="item item-input">
          <!-- <span class="input-label">Password</span> -->
          <input type="password" ng-model="loginData.password" placeholder="Password" class="login_input">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Entra</button>
        </label>
      </div>
    </form>
    <p class="login_reg_button"><a href="#/app/registrazione">Non sei ancora registrato? Registrati subito.</a></p>
  </ion-content>
</ion-view>
