<ion-view view-title="Login">
  <ion-content class="annunci">
    <form ng-submit="doLogin()">
      <div class="divLog">
        <label class="itemLog">
          <!-- <span class="input-label">E-mail</span> -->
          <!-- <i class="icon ion-ios-pricetags qualcosa"></i> -->
          <input type="text" size="25" ng-model="loginData.email" placeholder="E-mail" class="login_input">
        </label>
        <label class="itemLog">
          <!-- <span class="input-label">Password</span> -->
          <!-- <i class="icon ion-ios-pricetags qualcosa"></i> -->
          <input type="password" size="25" ng-model="loginData.password" placeholder="Password" class="login_input">
        </label>
        <label class="itemLog">
          <button class="button button-positive entra" type="submit">Entra</button>
        </label>
      </div>
    </form>
    <p class="login_reg_button"><a href="#/app/registrazione">Non sei ancora registrato? Registrati subito.</a></p>
  </ion-content>
</ion-view>
