/*stile*/
ion-view .annunciUtente{
  background-color: #ddeeff !important;
  margin-top: 20px !important;
}
ion-item .annunciUtente{
  margin: 5px !important;
  margin-top: 5px !important;
  border-radius: 10px !important;
  border-color: black !important;
}
/**/
