/*stile*/

.annU1 ion-view {
}

.annU1{
  border: 0 !important;
  border-top: 1px solid #0099cc !important;
}

ion-item:first-child{
  border-top: 0px;
}

.annU1 span{
  border:0px;
}

.annU1 h2{
  padding:1px;
}


/**/
