<ion-view view-title="Registrati">
  <ion-content>
    <form ng-submit="doRegistrazione()">
      <div class="list">
        <label class="item item-input">
          <input type="text" ng-model="regData.nome" placeholder="Nome" class="login_input">
        </label>
        <label class="item item-input">
          <input type="text" ng-model="regData.cognome" placeholder="Cognome" class="login_input">
        </label>
        <label class="item item-input">
          <input type="text" ng-model="regData.email" placeholder="E-mail" class="login_input">
        </label>
        <label class="item item-input">
          <input type="password" ng-model="regData.pass" placeholder="Password" class="login_input">
        </label>
        <label class="item item-input">
          <input type="password" ng-model="regData.pass2" placeholder="Reinserisci password" class="login_input">
        </label>
        <label class="item item-input">
          <input type="text" ng-model="loginData.tel" placeholder="Numero di telefono" class="login_input">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Registrati</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-view>
