<!-- <ion-view view-title="Nuovo annuncio">
  <ion-content>
    <form ng-submit="inserisci()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Titolo</span>
          <input type="text" ng-model="titolo">
        </label>

        <label class="item item-input">
          <span class="input-label">Decrizione</span>
          <input type="text" ng-model="descrizione">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Inserisci</button>
        </label>
      </div>
  </ion-content>
</ion-view> -->
