.hidden_input, #lista_comuni{
  display: none;
}

.hidden_iframe {
  display: none;
}

.qualcosa input{
  padding-left:2%;
  border: 0px;
}

.qualcosa label{
  background-color: transparent;
  z-index: 5;
}

.qualcosa textarea{
  padding-left: 2%;
  padding-top: 1%;
}

.prova{
  z-index: 1;
  background-color: #fff !important;
}

.image div{
  height:3%;
  width: 3%;
  position: absolute;
  align-content: center;
}

.form{
  height:100%;
}

.description{
  align-content: start;
  align-self: flex-start;
}

.inputfile{
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.euro input{
  padding-left: 3%;
}

.icon {
  font-size: 20px;
}

#lista_comuni {
  width: 50%;
}
/*pulsante bello*/
.input-file-container {
  position: relative;
  margin: 0 auto;
  width: 70%;
}
.js .input-file-trigger {
  display: block;
  padding: 14px 45px;
  background: #39D2B4;
  color: #fff;
  font-size: 1em;
  transition: all .4s;
  cursor: pointer;
}
.js .input-file {
  position: absolute;
  top: 0; left: 0;
  width: 225px;
  opacity: 0;
  padding: 14px 0;
  cursor: pointer;
}
.js .input-file:hover + .input-file-trigger,
.js .input-file:focus + .input-file-trigger,
.js .input-file-trigger:hover,
.js .input-file-trigger:focus {
  background: #34495E;
  color: #39D2B4;
}

.file-return {
  margin: 0;
}
.file-return:not(:empty) {
  margin: 1em 0;
}
.js .file-return {
  font-style: italic;
  font-size: .9em;
  font-weight: bold;
}
.js .file-return:not(:empty):before {
  content: "Selected file: ";
  font-style: normal;
  font-weight: normal;
}

.sotto{
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-bottom: 8%
}

.inserimento{
  margin: 3%;
  padding: 3%;
  height: 100%;
}
