.white{
  background-color: : #FFFFFF;
}

.whiteDetail{
  color: #FFFFFF;
}

.blueDetail{
  color: #007399;
}

.blue{
  background-color: #0099cc;
}

.darkblue{
  background-color: #007399;
}

.red{
  background-color: #8b0000;
}

.redDetail{
  color: #8b0000;
}

/*allinea il primo item della lista alla navbar*/
ion-item:first-child, label:first-child{
  margin-top: 14px;
}
/*ingrandisce navbar*/
.bar {
  height: 60px;
}

.bar.bar-header{
  background-color: #0099cc;
}

.bar.button.button-icon.button-clear.ion-navicon::after{
  line-height: 44px;
}

.bar .button.button-icon .icon:before, .bar .button.button-icon:before, .bar .button.button-icon.icon-left:before, .bar .button.button-icon.icon-right:before, .bar button.button-icon .icon:before, .bar button.button-icon:before, .bar button.button-icon.icon-left:before, .bar button.button-icon.icon-right:before {
    vertical-align: top;
    font-size: 32px;
    line-height: 48px;
}
.bar button.back-button {
    margin-top: 5px;

}
/*rende titolo e navbar uguali*/
.platform-android .bar .title{
  line-height: 60px;
  color: #FFF;
}
