.white{
  background-color: : #FFFFFF;
}

.whiteDetail{
  color: #FFFFFF;
}

.blueDetail{
  color: #007399;
}

.blue{
  background-color: #0099cc;
}

.darkblue{
  background-color: #007399;
}

.red{
  background-color: #8b0000;
}

.redDetail{
  color: #8b0000;
}

/*allinea il primo item della lista alla navbar*/
ion-item:first-child, label:first-child, .scroll-content{
  margin-top: 0px;
  border: 0px;
}
/*
.list{
  margin-top: 14px;
}*/
/*ingrandisce navbar*/
.bar {
  height: 60px;
  /*display: none;*/
}

.bar.bar-header, .menu_user_header {
  background-color: #0099cc;
}

.bar.button.button-icon.button-clear.ion-navicon::after{
  line-height: 44px;
}

.bar .button.button-icon .icon:before, .bar .button.button-icon:before, .bar .button.button-icon.icon-left:before, .bar .button.button-icon.icon-right:before, .bar button.button-icon .icon:before, .bar button.button-icon:before, .bar button.button-icon.icon-left:before, .bar button.button-icon.icon-right:before {
    vertical-align: top;
    font-size: 32px;
    line-height: 48px;
}
.bar button.back-button {
    margin-top: 5px;

}
/*rende titolo e navbar uguali*/
.platform-android .bar .title{
  line-height: 60px;
  color: #FFF;
}

.annunci .list{
  margin-top: 14px;
}

/*stile annunci (immagine centrata, bordo blu e spaziature varie)*/
.ann ion-item{
  padding:0px !important;
  margin-top:14px !important;
  border-top: 0px !important;
  border: 1px solid #0099cc !important;
}

.ann td{
   vertical-align:bottom !important;
   /*padding-right: 20px !important;
   padding-left:10px !important;*/
}

ion-item:first-child{
  border-top: 0px !important;
}

.ann span{
  border:0px !important;
  padding:10px !important;
  /*padding-left:65% !important;*/
  text-overflow: clip !important;
  background-color: transparent !important;
  text-align: right;
  float: right;
}

.ann h2{
  margin:0px !important;
  padding:1px !important;
  padding-left: 10px !important;
  white-space: initial !important;
}

.ann p{
  padding-left:10px !important;
  width: 16em;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.imgAnn{
  /*position: relative !important;*/
  bottom:5px !important;
  left: 5px !important;
  /*border: 0.1px solid lightgrey;*/
  padding: 15px;
  width: 80px;
  height: 80px;
}

.imgAnn img {
  width: 70px;
  height: 70px;
  border-radius: 49%;
}

.item-content {
  padding: 16px !important;
  padding-top: 2px !important;
  padding-bottom: 2px !important;
}

/*colore bianco 3 linee menù*/
.bar-stable .button.button-clear {
    color: #fff !important;
}

/*scritta "home"*/
.bar.bar-stable .title{
  color: #fff;
}
.bar .title{
  font-size: 19px;
}
.platform-android .bar .title {
    line-height: 60px !important;
}

/*customizzazione menu*/

.item{
  padding: 0px;
  border-color: transparent;
}

.menu_user_header {
  width: 100%;
  color: #fff;
  height: 30%;
  position: relative;
  margin-top: -1px;
}

.menu_user_header div {
  position: absolute;
  bottom: 0;
  margin-left: 10px;
}

.menu_user_header h3 {
  color: #fff;
}


.scroll-content {
  margin-top: 0;
}

.log{
  width: 210px;
  height: 50px;
  border-radius: 20px;
  background-color: white;
  border-style:solid;
  border-color: lightgrey !important;
  margin-left: 14%;
  margin-bottom: 5%;
  position:absolute;
  top:100%;
  /*bottom:5%;*/
}

/*stile categorie*/
.item-icon-right{
  margin:16px !important;
  padding:0px !important;
  background-color: transparent !important;
}
.sub-items{
  border:0px !important;
  padding:5px !important;
  margin-left: 25px !important;
  background-color: transparent !important;
}

.sub-items:last-child{
  margin-bottom: 20px;
}
.sub-items a{
  padding:0px !important;
}
